*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  background-color: var(--color-light-gray); }

.box__intro {
  height: 47%;
  padding: 2rem 3rem; }
  .box__intro-title {
    color: var(--color-cyan);
    font-size: 30px;
    margin-top: 1rem; }
  .box__intro-subtitle {
    color: var(--color-bright-yellow);
    font-size: 22px;
    margin-top: 22px; }
  .box__intro-description {
    color: var(--color-grayish-blue);
    font-size: 17px;
    margin-top: 17px;
    padding-right: 3rem; }

.box__extro {
  height: 53%;
  display: flex; }

.box__subscribe {
  flex-basis: 50%;
  padding: 2.5rem;
  background-color: var(--color-cyan);
  color: #fff; }
  .box__subscribe-title {
    font-weight: 700;
    font-size: 20px; }
  .box__subscribe-caption {
    display: flex;
    margin-top: 17px;
    align-items: center; }
    .box__subscribe-caption span {
      font-size: 35px; }
    .box__subscribe-caption p {
      color: #fff;
      font-weight: 400;
      margin-left: 12px; }
  .box__subscribe-aftertext {
    margin-top: 8px; }
  .box__subscribe-btn {
    margin-top: 30px;
    width: 93%;
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 15px rgba(87, 90, 94, 0.699);
    background-color: var(--color-bright-yellow);
    color: #fff;
    font-size: 15px;
    transition: all .3s; }
    .box__subscribe-btn:hover {
      background-color: var(--color-hover-yellow); }
    .box__subscribe-btn:active {
      transform: scale(0.98); }

.box__reason {
  flex-basis: 50%;
  padding: 2.5rem;
  background-color: var(--color-cyan-light);
  color: #fff; }
  .box__reason-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px; }
  .box__reason-list {
    list-style: none; }
    .box__reason-list-item {
      font-size: 15px;
      line-height: 22px; }

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.box {
  width: 48%;
  height: 65%;
  background-color: whitesmoke;
  box-shadow: 0 4px 25px var(--color-grayish-blue);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

:root {
  --color-cyan: hsl(179, 62%, 43%);
  --color-light-gray: hsl(204, 43%, 93%);
  --color-grayish-blue: hsl(218, 22%, 67%);
  --color-cyan: hsl(179, 62%, 43%);
  --color-cyan-light: hsla(179, 62%, 43%, 0.692);
  --color-bright-yellow: hsl(71, 73%, 54%);
  --color-hover-yellow: hsl(71, 65%, 51%); }
