:root {
    --color-bg-body: hsl(204, 43%, 93%);
    --color-bg-header: #ffffff;

    --color-heading-1: hsl(179, 62%, 43%);
    --color-heading-2: hsl(71, 73%, 54%);
    --color-paragraph: #a8d8d8;

    --color-button-hover: hsla(71, 73%, 54%, 0.815);
    --color-button: #c0d830;

    --color-bg-cta: #30a8a8e5;
    --color-bg-feature: #48c0c0e3;
}

$largest: 900px;
$large: 700px;
$small: 450px;
$smaller: 390px;
$smallest: 340px;
