:root {
    --color-cyan: hsl(179, 62%, 43%);
    --color-light-gray: hsl(204, 43%, 93%);
    --color-grayish-blue: hsl(218, 22%, 67%);

    --color-cyan: hsl(179, 62%, 43%);
    --color-cyan-light: hsla(179, 62%, 43%, 0.692);

    --color-bright-yellow: hsl(71, 73%, 54%);
    --color-hover-yellow: hsl(71, 65%, 51%);
}