.box {
    &__first {
        height: 47%;
        background-color: var(--color-bg-header);
        padding: 5rem 4rem;

        @include respond(large) {
            height: 28.5rem;
        }

        @include respond(small) {
            height: 30rem;
        }
    }

    &__last {
        min-height: 54%;
        display: flex;

        @include respond(large) {
            flex-direction: column;
        }
    }

    &__cta {
        width: 40rem;
        background-color: var(--color-bg-cta);
        color: #ffffff;
        padding: 3.5rem;
        padding-left: 4rem;

        @include respond(small) {
            width: 100%;
        }


        &-h1 {
            font-size: 2.3rem;
            padding: 1rem 2rem 2rem 0;
        }

        &--h2 {
            display: flex;
            align-items: center;
            padding: 1rem 4rem .5rem 0;

            &-dollar {
                font-size: 3rem;
                padding-right: .6rem;
            }
        }

        &-subtitle {
            font-size: 1.5rem;
            padding: .2rem 4rem 3rem 0;

            @include respond(smallest) {
                padding: .2rem 0 2.5rem 0;
            }
        }

        &-button {
            padding: 1.5rem 12rem;
            background-color: var(--color-button);
            border: none;
            outline: none;
            color: #fff;
            font-size: 1.3rem;
            font-weight: 700;
            border-radius: 4px;
            box-shadow: 0px 4px 16px 0px #00000050;
            cursor: pointer;
            transition: all .2s ease-out;

            @include respond(small) {
                padding: 1.5rem 11rem;
            }

            @include respond(smallest) {
                padding: 1.5rem 8.5rem;
            }

            &:hover {
                background-color: var(--color-button-hover);
                transform: translateY(-.8px);
            }

            &:active {
                transform: scale(0.99);
            }
        }
    }

    &__feature {
        width: 40rem;
        background-color: var(--color-bg-feature);
        color: #fff;
        padding: 3.5rem;
        padding-left: 4rem;

        @include respond(small) {
            width: 100%;
        }


        &-h1 {
            font-size: 2.2rem;
            padding: 1rem 2rem 1rem 0;
        }

        &--list {
            list-style: none;
            padding: 2rem 4rem 1rem 0;

            &-item {
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }
    }
}